


*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;

}
body{
    background-color: skyblue;
    /*Añadir foto de fondo*/
    background-image: url(img/fondo3.jpg);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    /*Esto es para oscurecer un poco la foto podía haber usado darken pero esto quedaba mejor*/
    background-blend-mode: luminosity;
    flex-wrap: wrap;
}
section{
    position: relative;
    width: 100;
    min-height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 100px;

}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(137,66,188);
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Lora',serif;
    font-weight: 600 ;

}
header .logo:hover{
    color: rgb(137,66,188);
    background: #fff;
    transition: 1s;
}
header .navBar{
    position: relative;
    display: flex;

}
header .navBar li{
    list-style: none;
    margin-left: 30px;

}
header .navBar li a{
    text-decoration: none;
    color: white;
    font-weight:600 ;
    padding: 10px;
    transition: 0.3s;
    font-size:0.9em ;
    text-transform: uppercase;
}
header .navBar li a:hover{
    border-bottom: 5px solid rgb(137,66,188);
    padding: 2px;
}
/*Contenido de la web*/
.contenido{
position: relative;
width: 100%;
display:flex;
justify-content: space-between;
align-items: center;
padding-left: 30px;
}
.contenido .tituloBox{
    position: relative;
    max-width: 600px;
    text-align: center;
}
.contenido .tituloBox h2{
    font-size: 2.5em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: white;
}
.contenido .tituloBox h2 span{
    background: rgb(137,66,188);
    color: white;
    padding: 0 10px;
    font-family: 'Lora',serif;
    font-style: italic;
    border-radius: 20px;
}
.contenido .tituloBox p {
    font-size:1.8em;
    line-height: 1.5;
    color: white;
    font-family: 'Lora',serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.contenido .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(137,66,188);
    background: #fff;
    padding: 10px 20px;
    margin:left 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}
.contenido .tituloBox a:hover {
color: white;
background: rgb(137,66,188);
transition: 0.5s;
}
.contenido .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index:-5;
}
.contenido .imgBox img{
    height: 80vh;
}
.contenido .imgBox img:hover {
    height: 80vh;
}
.radius{
    border-radius: 100px; 
}
/*Copyright*/
.copyright{
    position: fixed;
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.copyright p{
    color: #fff;
    text-align: center;
    margin-left: 100px;

}
/*Redes sociales*/
.redesSociales{
    position: fixed;
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.redesSociales li {
padding: 10px;
}
.redesSociales li a {
    color: white;
    font-size: 2.5em;
    transition: 0.3s;
}
.redesSociales li:hover a {
    color: rgb(45,3,74);
}
/*Circulo*/
.circulo{
    position: fixed; /* Fija la posición del círculo en relación con la ventana del navegador */
    top: 20px; /* Distancia desde el borde superior de la ventana del navegador */
    left: 20px;
    display: flex;
    background: rgb(137,66,188);
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}
/*Para darle borde alas letras*/
.textoBorde {
    text-shadow: 2px 2px 2px black;
}
.curriculum {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.curriculum .section {
    margin-bottom: 20px;
}
.curriculum .section h3 {
    color: rgb(137,66,188);
    margin-bottom: 10px;
}
.curriculum .section ul {
    list-style: none;
    padding-left: 20px;
}
.curriculum .section ul li {
    margin-bottom: 5px;
}
/* Estilos adicionales para el formulario de contacto */
.contenedor{
    box-sizing: border-box;
    width: 100%;
    text-align: justify;
    border: 1;
    border-radius: 20px;
}
.formulario{
    background:white;
    border-radius: 20px;
}
.icon{
    width: 35px;
    height: 35px;
    
}
input[type='text'], input[type='mail'], input[type='tel']{
    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;
}
.input-contenedor{

    margin-bottom: 15px;
    border: 1px solid gray;
}
.boton{
    border:none;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background-color: cadetblue;
}

.contacto form {
    max-width: 500px;
    margin: 0 auto;
}

.contacto h2 {
    color:rgb(137,66,188) !important;

}


/*Estilos para proyetos galeria*/
.contenidos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 0px;
    width: 800px;
    }
.contenidos:after{
    content: '';
    display: block;
    height: 0px;
    clear: both;

}
.contenidos div{
    text-align: center;
    width: 110%; /* Tamaño fijo para cada box */
    height: 150%; /* Tamaño fijo para cada box */
    padding: 1px;
    margin-top: 80px;
    border: 0px solid #ccc; /* Añade un borde para visualizar los boxes */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-sizing: border-box;
    white-space: nowrap;/* Evita que el texto se ajuste al tamaño del box */
    overflow: hidden;/* Oculta el contenido si es más grande que el tamaño del box */
    
 }
 .contenidos div a:hover{
    color: white;
    background: rgb(137,66,188);
    transition: 0.5s;
 }
 .contenidos:hover div{
    opacity: 0.4;
    transform: scale(1,1);
    transition: 1s;
 }
 .contenidos:hover div:hover{
    opacity: 1;
    transform: scale(1.25);
 }

 .tituloBoxs {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido al principio */
    align-items: center; /* Alinea verticalmente el contenido */
    width: 100%;
    margin-left: 10%; /* Ajusta el margen izquierdo para centrar en la parte izquierda */
}
.tituloBoxs .contenidos{
    position: relative;
    max-width: 600px;
    text-align: center;
}
.tituloBoxs .contenidos a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: rgb(137,66,188);
    background: #fff;
    padding: 10px 20px;
    margin:left 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}
.tituloBoxs .contenidos h2{
    font-size: 2.5em;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    z-index: +12;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: white;
}
.fotos{
    width: 100%;
    margin: 0 auto;
    
}
.redes{
    color:white;
}
.contenido .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index:-5;
}
.contenido .imgBox img{
    height: 80vh;
}
.contenido .imgBox img:hover {
    height: 80vh;
}

/* Parte responsive y icono nav */
.icono {
    display: none; /* Ocultar el icono ya que no consigo que funcione */
}

@media screen and(min-width:576px) {
    .menuitem {
        display: block; /* Mostrar el menúitem como elemento de línea */
    }

   .icono {
        display: none; /* Ocultar el icono en pantallas más grandes */
    }

    section>*{
        width: 25%;
    }
    .circulo{
        width: 50%;
    }
    img{
        width: 25%;
        height: 50%;
        
    }
    .formulario{
        margin-top: 150px;
        width: 200px;
        margin: auto;
        border-radius: 2px;
    }
}
@media screen and(min-width:992px) {

    .menuitem {
        display: block; /* Mostrar el menúitem como bloque */
    }

    .icono {
      display: none; /* Ocultar el icono en pantallas más grandes */
    }
    
}
